# ISG Pro Docker Compose Environment Variables Template
# Copy this file to .env and update with real values

# PostgreSQL Configuration (replace default values with your own)
POSTGRES_PASSWORD=my_password
POSTGRES_USER=postgres
POSTGRES_DB=isg_db
# Define bind address and port for PgBouncer (using 0.0.0.0 will bind to all interfaces!)
PGBOUNCER_HOST=0.0.0.0
PGBOUNCER_PORT=6432

# Set arguments below when using docker-compose.yml file:
# NAS Storage Mount Path (update this to your actual NAS mount point)
NAS_STORAGE_PATH=/path/to/your/nas/mount
# iconik Configuration
ICONIK_APP_ID=
ICONIK_AUTH_TOKEN=
ICONIK_URL=https://app.iconik.io/
# create an ISG cluster at https://app.iconik.io/admin/isg/
# and use its main node id as the value for ICONIK_STORAGE_GATEWAY_ID
ICONIK_STORAGE_GATEWAY_ID=
