[main]

app-id = ${ICONIK_APP_ID}
iconik-url = ${ICONIK_URL}
auth-token = ${ICONIK_AUTH_TOKEN}

storage-gateway-id = ${ICONIK_STORAGE_GATEWAY_ID}

use-packaged-imagemagick = true
use-packaged-ffmpeg = true
